*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.svn
/classes
/logs
/target
/tnt4j-streams-zorka/target
/tnt4j-streams-wmq/target
/tnt4j-streams-mqtt/target
/tnt4j-streams-kafka/target
/tnt4j-streams-jms/target
/tnt4j-streams-http/target
/tnt4j-streams-hdfs/target
/tnt4j-streams-flume-plugin/target
/tnt4j-streams-core/target
