*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Eclipse project files
.project
.classpath
/**/.settings

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.svn
/**/target
/**/classes
/**/logs
/**/temp

/**/*.iml

/config/log4j__.xml__
/tnt4j-streams-core/samples/apache-access-single-log/regexp.txt
/tnt4j-streams-core/samples/apache-access-single-log/error.log
/tnt4j-streams-core/samples/apache-access-single-log/nastel-apache.log
